.portfolio-nav {
    display: table;
    margin: 0 auto;
}

.portfolio-nav__item {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background 0.3s 0s, color 0.3s 0s;

    &:hover,
    &:focus,
    &:active {
        background-color: rgba(51, 51, 51, 0.5);
        color: #ffffff;
    }
}



.active {
    background-color: #333333;
    color: #ffffff;
    border-radius: 3px;
}
