<div id="portfolioabout" class="portfolio-about" data-company="5th">
    <div class="portfolio-about__image"><a href="http://5th.ru/" target="_blank"><img src="images/5th.png"></a></div>
    <div class="portolio-about__info">
        <h3><a href="http://5th.ru/" target="_blank">Пятое измерение</a> <span>апрель 2011 &mdash; декабрь 2014</span></h3>
        <p>Наполнение новых и поддержка текущих проектов.</p>
        <p>Сайты гос.структур, частных компаний и пр.</p>
        <p>Поддержка сайтов автодилеров по требованиям фед.импортера. Обновление акций, контентых страниц, новостей, модельного ряда и пр.</p>
    </div>
</div>