<section id="personal">
    <div class="info">
        <div class="personal-about">
            <h1>Привет. Я Рустам.</h1>
            <p>Верстка, тех.поддержка сайтов.</p>
            <p>HTML5, CSS3, LESS, SASS, jQuery, d3js, Gulp, Git, SVN, основы PHP, JS, Angular. Photoshop, Illustrator.</p>
            <p>
                <a href="https://vk.com/id3838070" target="_blank" class="vk-ico">id3838070</a>
                <a href="https://t.me/rpokosov" target="_blank" class="tg-ico">@rpokosov</a>
                <a href="mailto:hasan83842@gmail.com" class="gmail-ico">hasan83842@gmail.com</a>
            </p>
        </div>
    </div>
</section>