<div id="feedback">
    <form id="form">
        <div class="form-line">
            <input type="text" value="" required="required" id="fio" name="fio">
            <label for="fio">Имя</label>
        </div>
        <div class="form-line">
            <input type="text" value="" required="required" id="contacts" name="contacts">
            <label for="contacts">Контакты</label>
        </div>
        <div class="form-line">
            <textarea id="message" name="message"></textarea>
            <label for="message">Сообщение</label>
        </div>
        <div class="form-line">
            <div class="g-recaptcha" data-callback="enableBtn" data-sitekey="6Lekkx8UAAAAAE26L7fwZsmO6XGrFIKEwcfcdnxU"></div>
        </div>
        <div class="form-line">
            <input type="submit" id="sendmsg" name="sendmsg" value="Отправить">
        </div>
    </form>
    <div class="form-ok" id="form-ok" style="display:none;">
        <h3>Сообщение отправленно.</h3>
        <div class="form-ok__close">Закрыть</div>
    </div>
    <div class="popup__link">
        <a href="https://vk.com/id3838070" target="_blank" class="vk-ico">id3838070</a>
        <a href="skype:hasan83842?chat" class="skype-ico">hasan83842</a>
        <a href="mailto:hasan83842@gmail.com" class="gmail-ico">hasan83842@gmail.com</a>
    </div>
    <div id="teststr"></div>
</div>